<template id="agtrigger">
    <div class="trigger-handler loading container">
        <div class="loading callout">
            <p>
                <span class="ind"></span>
                <span class="msg"></span>
            </p>
        </div>
        <div class="success callout callout-success"><p></p></div>
        <div class="error callout callout-warning">
            <p>{{ t("The requested action has failed, most likely because the token has expired or has already been used.") }}</p>
        </div>
    </div>
</template>
