<template id="agtrigger">
    <div class="trigger-handler loading">
        <div class="loading callout">
            <span class="ind"></span>
            <span class="msg"></span>
        </div>
        <div class="success callout callout-success"></div>
        <div class="error callout callout-warning">
            {{ t("The requested action has failed, most likely because the token has expired or has already been used.") }}
        </div>
    </div>
</template>
